@import "tailwindcss";

@theme {
	--font-sinistre: "sinistre variable";
	--font-sinistre--font-variation-settings: "wght" 72;
}

@font-face {
	font-family: "Sinistre Variable";
	src: url("/fonts/SinistreVF.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-oldturcic: "NotoSansOldTurkic Regular";
}

@font-face {
	font-family: "NotoSansOldTurkic Regular";
	src: url("/fonts/NotoSansOldTurkic-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@theme {
	--animate-slide: slide 1s linear infinite;
	@keyframes slide {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-100%);
		}
	}
}
