@import "tailwindcss";

@theme {
	--font-sinistre: "Sinistre Variable";
	--font-sinistre--font-variation-settings: "wght" 72;
}

@font-face {
	font-family: "Sinistre Variable";
	src: url("/fonts/SinistreVF.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
