---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Atduyar</title>
		<style>
			html, body {
				background-color: black;
				color: white;
			}
		</style>
	</head>
	<body>
		<h1>Atduyar.com</h1>
	</body>
</html>
