---
import Break from "../components/Break.astro";
import HomeLayout from "../layouts/HomeLayout.astro";

// import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Atduyar" description="Ahmet Tarik Duyar Portfolio">
	<nav class="my-4">
		<ul class="flex justify-center gap-3 md:gap-8">
			<li class="text-2xl font-sinistre hover:text-blue-300 transition hover:-translate-y-0.5"><a href="#">Home</a></li>
			<li class="text-2xl font-sinistre hover:text-blue-300 transition hover:-translate-y-0.5"><a href="#">Blog</a></li>
			<li class="text-2xl font-sinistre hover:text-blue-300 transition hover:-translate-y-0.5"><a href="#">Resume</a></li>
			<li class="text-2xl font-sinistre hover:text-blue-300 transition hover:-translate-y-0.5"><a href="#">Contact</a></li>
		</ul> 
	</nav>
	<Break/>
	<h1 class="text-4xl sm:text-6xl lg:text-7xl xl:text-9xl font-sinistre p-4 md:p-8 lg:p-16">I'm Ahmet Tarik Duyar,<br/>a Software Engineer</h1>
	<Break/>
	<p class="text-xl sm:text-4xl font-sinistre font-var p-4 md:p-8 lg:p-16">Soon....</p>
</HomeLayout>
